psutil
taichi == 1.7.3
pydantic == 2.7.1
PyOpenGL >= 3.1.4
freetype-py
pyglet >= 2.1
libigl
mujoco == 3.2.5
lxml
tetgen >= 0.6.4
PyGEL3D # might need to use PyGEL3D == 0.1.0 for MacOS (M1)
moviepy >= 2.0.0
numba
pymeshlab
coacd
OpenEXR
scipy == 1.13.1
pycollada
pygltflib==1.16.0 
joblib==1.2.0 
scikit-learn==1.5.2 
networkx==2.8.8 
scikit-image==0.19.3 
trimesh 
numpy==1.26.0
